<div class="drag-and-drop" id="login-show">
  <h1>あなたは今日何にいくら使いましたか？</h1>
</div>
<p>Find me in app/views/home/top.html.erb</p>
<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <div id="login-form">
      <h2>記録する</h2>
      <form action="#">
        <input class="form-control" type="text" id="test1" placeholder="項目">
        <input class="form-control" type="number" placeholder="金額">
        <div id="submit-btn">記録</div>
      </form>
    </div>
  </div>
</div>



