<div class="main posts-index">
  <div class="index-container">
      <% @posts.each do |post|%>
        <div class="posts-index-item">
          <p>
            <%= link_to post.content, "/posts/#{post.id}", id: "show" %>
          </p>
          <p class="destroy">
            <%= link_to '削除', "/posts/#{post.id}", method: :delete, id: "link" %>
          </p>
        </div>
      <% end %>
    <%# <div class="scroll_arrow">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>     %>
  </div>
</div>
    

   