<div class="back">
    <div class="main posts-index">
      <div class="container">
        <div class="container__contents">
          <% @posts.each do |post|%>
            <div class="posts-index-item">
              <p class="destroy">
                <%= link_to '削除', "/posts/#{post.id}", method: :delete, id: "link" %>
              </p>
              <p class="date">
                <%= post.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[post.created_at.wday]})") %>
              </p>
              <p>
                <%= post.content %>
              </p>
              <p>
                <%= post.amount.to_s(:delimited) %>円
              </p>
            </div>
          <% end %>
          
        </div>
      <% end %>
    <%# <div class="scroll_arrow">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>     %>
  </div>
</div>
    

   