<div class="main-post-new">
  <div class="create">
    <%= form_tag("/posts/create") do %>     
      <input  type="text" name="content" placeholder="何に">
      <input  type="number" name="amount" placeholder="いくら">
      <input type="submit" value="記録" >
    <% end %>
  </div>


